@media screen and (max-width: 68rem) {
  .main {
    padding: 0 !important;
  }
}

.container {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  min-width: 0;
}

.main {
  max-width: 46rem;
  padding: 0 2rem;
  min-width: 0;
}
