.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;

  color: inherit;
  text-decoration: none;

  height: 3rem;
}

.icon {
  width: 2rem;
  height: 2rem;
}
