.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1rem;
  align-items: center;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.infoContainer > * {
  margin: 0;
}

.profileImage {
  font-size: 5rem;
}
