.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 3rem;
  background-color: black;
  margin-bottom: 2rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  width: 100%;
}
