.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  font-size: 0.9rem;
}
.link {
  color: #3498db;
}
.link:visited {
  color: grey;
}
