article {
  border-bottom: 1px solid gray;
  padding: 1rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2rem;
}
.linkButton {
  text-decoration: none;
  background-color: #d93900;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
}
