article {
  border-bottom: 1px solid gray;
  padding: 1rem;
}

@media (min-width: 800px) {

    article {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
}

@media (min-width: 900px) {

    article {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
}