.userDetail {
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.profileImage {
  font-size: 5rem;
}

@media (min-width: 800px) {

    .userDetail {
        padding-left: 10rem;
        padding-right: 10rem;
    }
    
}