.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1rem;
  font-size: 0.9rem;
}

.header > * {
  width: 9999rem;
  text-align: center;
  
}

.right {
  text-align: right;
}
.left {
  text-align: left;
}