.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 1rem;
  font-size: 0.9rem;
}
.link {
  color: var(--clr-link);
}
.link:visited {
  color: var(--clr-link-visited);
}
