article {
  border-bottom: 1px solid gray;
  padding: 1rem;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: white;
}

.title {
  font-size: 2rem;
}

.linkButton {
  text-decoration: none;
  background-color: var(--clr-primary);
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
  margin: 1rem;
}

.linkButton:hover {
  background-color: darkorange;
}

.popup {
  position: absolute;
  top: 110%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  z-index: 100;
  min-width: 200px;

  >div {
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  span {
    word-break: break-all;
  }
  button {
    margin-left: 8px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-weight: bold;
    color: white;
  }

}