body {
    background-color: #181c1f;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
*,*::before,*::after {
    box-sizing: border-box;
}
.signup, .createThread, .createPost {
    text-align: center;
}